@page
@model Floppy.Pages.ProfileModel
<div class="main_block main_faq">
     <div class="background_block">
         <div class="faq">
             <h3>Как пополнять словарь?</h3>
             <p>Проходить уровни в обучении, все новые слова автоматически попадают в словарь в раздел "на изучении"</p>
         </div>

         <div class="faq">
             <h3>Как зарабатывать монеты?</h3>
             <p>Монеты можно заработать в обучении: за каждый правильный ответ в упражнении тебе начисляется 5 монет</p>
         </div>

     </div>
 </div>